footer {
    background-color: $dark-color; /* Color de fondo oscuro */
    color: $secondary-color; /* Color de texto blanco */
    text-align: center;
    padding: 20px;
}

/*
//Colores:
$primary-color: #437a90;
$secondary-color: #ffffff;
$dark-color: #00465c;
$text-color: #000000;
*/