//Declaración de variables

//Colores:
$primary-color: #437a90;
$secondary-color: #ffffff;
$dark-color: #00465c;
$colourful-color : #7830eb
$text-color: #000000;

//Tipografía:
$font-family: 'Roboto';
$heading-size: 2.5rem;
$text-size: 1rem;
$font-weight: bold;